%h1 Theism

%dl
  %dt 
    teismo (n)
    %dd Italian: teismo (n)	 [m.] (teologia)
    %dd English: theism (n)	 (teologia)

%h2 A place to learn about religions, together

%img{:src => 'images/timeline-of-world-religion3.jpg'}
Image from: http://cominganarchy.com